body {
    width: 100%;
    padding: 0;
    margin-top: 30px;
    background-color: yellow;
    font-family: 'Pangolin', cursive;
}
li {
    list-style: none;
}
.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
}
.gallery {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.photo-card {
    width: 30%;
    margin: 5px;
}

img {
    display: block;
    width: 100%;
    height: 80%;
    object-fit: cover;
    cursor: pointer;
}
.search-form {
    
    position: fixed;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
}

.toast.toast-warning {
    background-color: red;
}


